<div class={{concatClass "header-logout-button" (if isActive "active")}}>
  <button class="header-logout-button__button" type="button">
  </button>

<DButton @action={{route-action "logout"}}>

          <span>
            {{i18n "user.log_out"}}
          {{d-icon "sign-out-alt"}}
          </span>


        </DButton>


</div>
