<DButton @action={{route-action "logout"}}>
  <div class="btn btn-icon-text btn-primary btn-small login-button">
      <div class="auth-buttons">
    {{i18n "user.log_out"}}
      </div>
    {{d-icon "sign-out-alt"}}
  </div>
</DButton>


btn btn-icon-text btn-primary btn-small login-button
