<DButton @action={{route-action "logout"}}>
  <span class="header-button">
      <span class="auth-buttons">
    {{i18n "user.log_out"}}
      </span>
    {{d-icon "sign-out-alt"}}
  </span>
</DButton>



