 <li class="header-logout-button header-dropdown-toggle">
<DButton @action={{route-action "logout"}}>
<span class="btn-primary btn-small" style="width:100px; height:2.2857em;">
<span style="white-space:nowrap">
 {{i18n "user.log_out"}}
</span>
 <span style="padding-left:5px">
 {{d-icon "sign-out-alt"}}
  </span>
</span>
 
</DButton>
</li>
