


        <span class="btn-primary btn-small">
                        <DButton @action={{route-action "logout"}}>
          {{i18n "user.log_out"}} {{d-icon "sign-out-alt"}}



        </DButton>
        </span>



