<DButton @action={{route-action "logout"}}>
  <span class="header-buttons" style="white-space:nowrap">
      <span class="auth-buttons" style="white-space:nowrap">
    {{i18n "user.log_out"}}
      </span>
    {{d-icon "sign-out-alt"}}
  </span>
</DButton>
