<span class="header-buttons btn-primary btn-small" style="width:100px; padding: 0">
<span style="white-space:nowrap">
 {{i18n "user.log_out"}}
</span>
 <span style="">
 {{d-icon "sign-out-alt"}}
  </span>
</span>


