<DButton @action={{route-action "logout"}}>

      <span class="auth-buttons btn-icon-text btn-primary btn-small login-button">
    {{i18n "user.log_out"}} {{d-icon "sign-out-alt"}}

      </span>

</DButton>



