.header-logout-button {
    padding: 0;
}

li.header-logout-button button.btn.no-text {
background: none;
border:none;
}

li.header-logout-button button.btn.no-text .btn-primary.btn-small {
width: 7em;
height: 2.2857em;
border: none;
}

li.header-logout-button button.btn.no-text .btn-primary.btn-small span {
white-space: nowrap;
}

li.header-logout-button button.btn.no-text .btn-primary.btn-small span svg {
font-size: 1.5em;
padding-left: .17em;
}
